.recipe {
  margin: 1rem auto;
  width: 60%;
}

.recipe hr {
  margin: 1rem 0;
  border: 1px solid #004B04;
}

.recipe_img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin: 0.5rem 0 1rem 0;
}

.recipe small {
  font-size: 1rem;
  color: #222;
}

.recipe .short_infos {
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0;
}

.recipe h2 {
  color: #222;
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0;
}

.recipe_ingredients:nth-child(odd) {
  background: #CFE8D0;
  border-radius: 5px;
}

.recipe_ingredients {
  display: flex;
  gap: 1rem;
  padding: 0.3rem;
}

.cooking_info {
  display: inline-flex;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  background: #CFE8D0;
  color: #004b04;
  border: 1px solid #004b0450;
  border-radius: 1000px;
}

.icon {
  height: 0.7rem;
  margin-right: 0.25rem;
}

.row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.instruction_step {
  padding: 0.4rem 0;
}

.categories {
  display: inline-flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.recipe_source {
  padding: 1rem 0 0.7rem 0;
  color: #222;
}

.recipe .favorite_btn {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #ff4040;
  background: #FF8080;
  box-shadow: 0 0 5px 3px rgba(255, 64, 64, 0.4);
  margin-left: auto;
}

.edit_btn {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #004B04;
  background: #A0D2A1;
  box-shadow: 0 0 5px 3px rgba(0, 75, 4, 0.4);
}

.edit_btn:hover {
  background: #004B04;
  color: #F5F5F5;
}

.edit_btn:active,
.delete_btn:active,
.favorite_btn:active {
  transform: translate(1px, 1px);
}

.delete_btn {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #ff4040;
  background: #FF8080;
  box-shadow: 0 0 5px 3px rgba(255, 64, 64, 0.4);
}

.delete_btn:hover,
.favorite_btn:hover {
  background: #ff4040;
  color: #F5F5F5;
}